@layer components {
	.root {
		display: flex;
		flex-direction: column;
	}

	.list {
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		border: var(--border);
		border-radius: var(--radius-md);
		margin-bottom: 0.5rem;
	}

	.trigger {
		all: unset;
		font-family: inherit;
		background-color: var(--track);
		padding: 1rem;
		flex: 1;
		gap: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--ink);
		user-select: none;
		transition:
			transform var(--animation-duration) ease,
			background-color var(--animation-duration) ease,
			color var(--animation-duration) ease;
		cursor: pointer;

		&:hover:not([data-state='disabled']):not([data-state='active']) {
			background-color: var(--selection-paper);
		}
		&[data-state='active'] {
			background-color: var(--selection-hover);
			color: var(--selection-ink);
		}
		&:focus-visible {
			position: relative;
			outline: var(--focus);
		}

		&:first-child {
			border-top-left-radius: var(--radius-md);
			border-bottom-left-radius: var(--radius-md);
		}
		&:last-child {
			border-top-right-radius: var(--radius-md);
			border-bottom-right-radius: var(--radius-md);
		}
	}

	.content {
		flex-grow: 1;
		outline: none;
		min-height: 0;
		max-height: 100%;
	}
}
