@layer variants {
	.root {
		font-size: 0.9rem;
		position: relative;
	}

	.item {
		padding: 0.75rem 0.25rem;
		font-weight: normal;
		font-family: var(--body);
		font-size: inherit;
		position: relative;
	}

	.label {
		color: var(--faded);
	}

	.item + .item {
		&::before {
			content: '/';
			position: absolute;
			left: -0.6rem;
		}
	}
}
