.root {
	display: grid;
	grid-template-areas: 'main content';
	grid-template-columns: auto 1fr auto;
	grid-template-rows: minmax(0, 1fr);
	flex: 1;
	min-height: 0;
	overflow: hidden;
	height: auto;
	width: 100%;
	background-color: var(--paper);

	--main-size: 500px;
}

.main {
	grid-area: main;
	max-height: 100%;
	min-height: 0;
	width: var(--main-size);
	padding-top: 0.5rem;
	container: main / inline-size;
}

.content {
	grid-area: content;
	border-left: var(--border);
	border-right: var(--border);
}

.tabs {
	align-self: center;
}

.tabLabel {
	display: none;
}
@container main (min-width: 720px) {
	.tabLabel {
		display: inline;
	}
}

/** Smaller size shifts things */
@media (max-width: 1024px) {
	.root {
		grid-template-areas: 'main content';
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr auto;
		align-items: stretch;
		--main-size: 100%;
	}
}

@media (max-width: 768px) {
	.root {
		grid-template-areas: 'main';
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
	}

	.content {
		display: none;
	}
}
