.navbar {
	display: flex;
	justify-content: space-between;
	position: relative;
	@container (max-width: 700px) {
		width: 100%;
		justify-content: space-between;
	}
}

.logo {
	@container (max-width: 700px) {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
