.root {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

@media (min-width: 1280px) {
	.root {
		left: 50%;
		transform: translateX(-50%);
	}
}

.select {
	border: none;
	border-radius: inherit;
	font-size: 0.8rem;
}

.settingsIcon {
	width: 16px;
	height: 16px;
}
