@layer components {
	.root {
		--thickness: 2px;
		--size: 20px;
		position: relative;
		display: flex;
		align-items: center;
		user-select: none;
		touch-action: none;
		height: var(--size);
		border-width: var(--thickness);
		border-style: solid;
		border-color: var(--border-color);
		border-radius: 99999px;
		transition: all var(--animation-duration) ease;
		transform: translate3d(0, 0, 0);

		&:hover {
			border-color: var(--border-hover);
			transform: scale(1.01);
		}
	}

	.track {
		background-color: var(--paper);
		border-radius: 99999px;
		flex-grow: 1;
		height: 100%;
		position: relative;
		overflow: hidden;

		.root:hover & {
			background-color: var(--hover);
		}
	}

	.range {
		position: absolute;
		background-color: var(--focus);
		height: 100%;
	}

	.thumb {
		background-color: var(--track);
		border-radius: 99999px;
		width: var(--size);
		height: var(--size);
		display: block;
		transition: all var(--animation-duration) var(--bounce);
		border-width: var(--thickness);
		border-style: solid;
		border-color: var(--border-color);

		.root:hover & {
			background-color: var(--hover);
			border-color: var(--border-hover);
			transform: scale(1.01);
		}

		&:active {
			background-color: var(--hover);
			border-color: var(--border-press);
		}

		&:focus-visible {
			border-color: var(--focus);
			transform: scale(1.01);
		}
	}
}
