@layer components {
	.root {
		--thickness: 2px;
		--size: 40px;
		position: relative;
		display: flex;
		align-items: center;
		user-select: none;
		touch-action: none;
		height: var(--size);
		border-width: var(--thickness);
		border-style: solid;
		border-color: var(--border-color);
		border-radius: 99999px;
		transition: all var(--animation-duration) ease;
		overflow: hidden;

		&:hover {
			border-color: var(--border-hover);
		}
	}

	.track {
		background-color: var(--paper);
		border-radius: 99999px;
		flex-grow: 1;
		height: 100%;
		position: relative;
		overflow: hidden;

		.root:hover & {
			background-color: var(--hover);
		}
	}

	.range {
		position: absolute;
		background-color: var(--focus);
		height: 100%;
		border-radius: var(--range-border-radius, 0);
	}

	.thumbInner {
		background-color: var(--track);
		border-radius: 99999px;
		width: calc(var(--size) - var(--thickness) * 3);
		height: calc(var(--size) - var(--thickness) * 3);
		transition: all var(--animation-duration) var(--bounce);
		border-width: var(--thickness);
		border-style: solid;
		border-color: var(--border-color);

		.root:hover & {
			background-color: var(--hover);
			border-color: var(--border-hover);
		}

		&:active {
			background-color: var(--hover);
			border-color: var(--border-press);
		}

		&:focus-visible {
			border-color: var(--focus);
			transform: scale(1.01);
		}
	}

	.thumb {
		margin-left: auto;
		width: calc(var(--size) - var(--thickness) * 2);
		height: calc(var(--size) - var(--thickness) * 2);
		display: block;
		background-color: var(--focus);
		border-top-right-radius: 99999px;
		border-bottom-right-radius: 99999px;
		padding: calc(var(--thickness) / 2);
	}
}
