html,
body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@layer reset {
	*,
	*:before,
	*:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
	}
}
input,
button,
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@layer absolutes {
	@media (prefers-reduced-motion: reduce) {
		* {
			animation-duration: 0ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0ms !important;
			scroll-behavior: auto !important;
		}
	}
}
