@layer components {
	.root {
		container-type: inline-size;
		container-name: nav-bar;
		font-family: var(--font-head);
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 999;
		background-color: transparent;
		/* border-bottom: var(--border); */
		transition:
			background-color 0.3s ease,
			border 0.3s ease;
		flex-grow: 0;
	}
}

@layer variants {
	*[data-scrolled-vertical='true'] .root {
		background-color: var(--track);
		border-bottom: var(--border);
	}
}
